.Login {
  text-align: center;
}
.Login__logo {
  margin: 40px auto;
}
.Login__logo .Logo {
  display: inline-flex;
}
.Login__box {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
}
.Login__title {
  margin-bottom: 20px !important;
}
.Login__input {
  margin: 10px 0 !important;
}
.Login__button {
  margin: 20px 0 !important;
}
