.Profile {
  display: grid;
}

.Profile__inputsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.Profile__fieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.Profile__templateContainer {
  display: flex;
  justify-content: center;
}
