.Profile {
  display: grid;
  gap: 20px;
}

.Profile__pageContent {
  text-align: center;
  display: grid;
  gap: 20px;
}

.Profile__inputsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.Profile__fieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.Profile__templateContainer {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .Profile__pageContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
