.ViewCard__messageTitleContainer {
  display: flex;
  justify-content: space-between;
}
.ViewCard__messageContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 300px);
}
.ViewCard__addMessageLink {
  text-decoration: none !important;
}
.ViewCard__addMessageButton {
  margin: 20px 0 !important;
}
