.AddMessage__box {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  gap: 8px;
  width: 100%;
}
.AddMessage__title {
  margin-bottom: 20px !important;
}
.AddMessage__input {
  margin: 10px 0 !important;
}
.AddMessage__button {
  margin: 20px 0 !important;
}
.AddMessage__colorButton {
  margin-left: 10px !important ;
}
.AddMessage__colorButtonIcon {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 4px solid rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  width: 23px;
  height: 23px;
}
.AddMessage__inlineError {
  color: #d32f2f;
}
.AddMessage__backLink,
.AddMessage__backLink a {
  display: flex;
  align-items: center;
  justify-content: center;
}
