.CardDetails {
  display: grid;
  gap: 20px;
}

.CardDetails__formContainer {
  margin: 40px 10px 0;
  padding: 20px 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.CardDetails__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.CardDetails__fieldsContainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}


.CardDetails__actionsContainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CardDetails__templateContainer {
  justify-self: center;
  margin: 0 10px;
}

.CardDetails__template {
  padding: 10px;
}

@media (min-width: 500px) {
  .CardDetails__actionsContainer {
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  .CardDetails__inputsContainer  {
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: 700px) {
  .CardDetails {
    grid-template-columns: repeat(2, 1fr);
  }

  .CardDetails__templateContainer {
    margin: 40px 10px 0;
  }
}