.CardDetails {
  display: grid;
  gap: 20px;
}

.CardDetails__pageContent {
  text-align: center;
  display: grid;
  gap: 20px;
}

.CardDetails__inputsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.CardDetails__fieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.CardDetails__templateContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.CardDetails__actionButton--xs {
  min-width: 0 !important;
  padding: 5px !important;
}

@media (min-width: 800px) {
  .CardDetails__pageContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
