@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.Wrapper {
  max-width: auto;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 160px);
}

.Wrapper__text {
  justify-content: space-between;
  margin-top: 10px;
  text-align: match-parent;
  margin-left: 2%;
  font-family: "Oxygen", sans-serif;
  font-style: normal;
}
