.NewCard__templates {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.NewCard__template {
  width: 200px;
  height: 284px;
  border: 1px solid #999;
}

.CreateForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
  margin: 50px;
}