.NewCard__templates {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 20px;
}

.CreateForm {
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
  padding: 20px 50px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  gap: 20px;
}

.CreateForm_page {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 20px;
}

.CreateForm__templateContainer {
  justify-content: center;
  display: flex;
}

.CreateForm__pageContent {
  display: grid;
  display: 20px;
}

.CreateForm__inputsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.CreateForm__fieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5vh;
}

.CreateForm__templateContainer {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .CreateForm__pageContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
