.NewCard__templates {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 20px;
}

.CreateForm {
  display: grid;
  gap: 20px;
}

.CreateForm__templateContainer {
  justify-content: center;
  display: flex;
}

.CreateForm__pageContent {
  display: grid;
  gap: 20px;
}

.CreateForm__inputsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.CreateForm__fieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.CreateForm__templateContainer {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .CreateForm__pageContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
